*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, Helvetica, sans-serif;
}
.showcase-img-wrapper:hover .showcase-hover {
    opacity: 1 !important;
}
.mapouter{position:relative;text-align:right;} .gmap_canvas{overflow:hidden;background:none!important;} 
.gmap_canvas iframe{width:100%;height:100%;}
.mapouter a{display:block;font-size:0.85em;text-align:center;padding:5px 0;color:#6c757d;text-decoration:none;}
.gme-generated-link{display:none!important;}
